.logo{
  width: 100px;
  height: 100px;
}
li{
  list-style-type: none;
}
.team_elem{
  display: flex;
  justify-content: space-between;
}
.players_list{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.player_card{
  width: 200px;
  margin: 5px;
}
.active{
  margin: 5px;
}
.fw{
  font-size: 18px;
  font-weight: 900;
}
.fw-none{
  font-size: 14px;
  font-weight: normal;
}
.card_detail{
  width: 600px;
  min-height:300px;
  margin: 0 auto;
  margin-top: 50px;
}
.card_title{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  padding-bottom: 5px;
  border: 3px solid grey;
  border-bottom: none;
}
.card_game_details_main{
  display: inline-block;
  width: 150px;
  height: 140px;
  padding-top:  10px;
  margin-left: 10px;
  border-right: 3px solid grey;
}
.card_game_details_submain{
  display: inline-block;
  width: 350px;
  min-height: 150px;
  margin-left: 30px;
}
.card_game_details{
  border: 3px solid grey;
}
.details_btn{
  display: block;
  margin: 0 auto;
}
.card_detail h2{
  font-size: 20px;
  display: inline-block;
  margin: 20px;
}
.card_detail span{
  font-weight: 700;
  font-size: 18px;
}
.players_details{
  display: flex;
  flex-wrap: wrap;
}
.players_card{
  width: 250px;
  min-height: 400px;
  margin: 10px;
}
.nav_elems{
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
}
.login_section{
  width: 300px;
  margin: 0 auto;
  margin-top: 50px;
}
.login_label{
  text-align: center;
}
.login_block{
  width: 100%;
}
.login_input{
  display: inline-block;
  width: 100%;

}
.login_block_main_label{
  display: inline-block;
  width: 100%;
  margin: 0 auto;
}
.login_btns{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.login_btn{
  display: inline-block;
  margin: 0 auto;
  margin: 5px;
  margin-top: 10px;
}
.login_wrapper{
  display: flex;
  margin: 0 auto;
}