.logo{
  width: 100px;
  height: 100px;
}
li{
  list-style-type: none;
}
.team_elem{
  display: flex;
  justify-content: space-between;
}
.players_list{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.player_card{
  width: 200px;
  margin: 5px;
}
.active{
  margin: 5px;
}